@font-face {
  font-family: 'Bebas Neue';
  src: url('../assets/fonts/BebasNeue-Regular.eot');
  src: url('../assets/fonts/BebasNeue-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/BebasNeue-Regular.woff2') format('woff2'),
    url('../assets/fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
