@import './variables.scss';

.shell {
  position: relative;
  z-index: 5;
  max-width: calc(#{var(--shell-max-width)} + #{var(--shell-gutter)} * 2);
  padding-left: var(--shell-gutter);
  padding-right: var(--shell-gutter);
  margin: 0 auto;
  width: 100%;
}

/* Shell Fluid */

.shell--fluid {
  max-width: none;
}
