@import 'fonts';

:root {
  /* Font parameters */
  --font-size-base: 62.5%;
  --font-weight-base: 400;
  --line-height-base: 1.2;

  /* Fonts */
  --ff-sans-serif-1: 'Bebas Neue', sans-serif;
  --ff-sans-serif-2: 'Helvetica Neue', sans-serif;

  /* Animations duration */
  --t-duration: 0.4s;

  /* Shell width and gutters */
  --shell-max-width: 1140px;
  --shell-gutter: 30px;
  --shell-gutter-tablet: 20px;
  --shell-gutter-mobile: 15px;

  /* Colors */
  --c-black: #000;
  --c-white: #fff;
  --c-red-1: #e50914;
  --c-red-2: #b00710;
  --c-gray-1: #303030;

  /* Shadow */
  --shadow-primary: 0px 0px 12px rgba(28, 43, 51, 0.1);

  /* Gradients */

  --gradient-primary: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );

  /* Spacings */
  --spacing-0: 0;
  --spacing-1: 20px 0;
  --spacing-2: 10px;
  --spacing-3: 40px 30px;
  --spacing-4: 20px 30px;

  /* Responsive Sizes */
  --mobile-small: 374px;
  --mobile-medium: 575px;
  --mobile: 767px;
  --tablet: 1023px;
  --small-desktop: 1199px;
  --large-desktop: 1399px;
}
